<ion-header>
  <ion-toolbar>
    <ion-title>Sign In</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div>
    <ion-item lines="full">
      <ion-label position="floating">Username</ion-label>
      <ion-input type="text" [(ngModel)]="username" required="required"></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Password</ion-label>
      <ion-input type="text" [(ngModel)]="password" required="required">
      </ion-input>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button type="submit" color="primary" expand="block" fill="outline" (click)="prosesLogin()">Sign In</ion-button>
      </ion-col>
    </ion-row>
  </div>
</ion-content>