<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Tambah Data Mobil</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">
        Tambah Data Mobil
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list lines="full">
								
    <ion-item>
      <ion-label position="floating">Merek</ion-label>
      <ion-input required [(ngModel)]="merek" placeholder="Masukkan Merek" type="text">
      </ion-input>
    </ion-item>
								
    <ion-item>
      <ion-label position="floating">Mobil</ion-label>
      <ion-input required [(ngModel)]="mobil" placeholder="Masukkan Mobil" type="text">
      </ion-input>
    </ion-item>
								
    <ion-item>
      <ion-label position="floating">Tipe</ion-label>
      <ion-input required [(ngModel)]="tipe" placeholder="Masukkan Tipe" type="text">
      </ion-input>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button type="button" (click)="addDatamobil()" color="primary" shape="full" expand="block">Tambah Data Mobil
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-list>
</ion-content>